.btn {
  border: none;
  height: 46px;
  cursor: pointer;
  border-radius: 8px;
}

.primary {
  color: white;
  background-color: black;
}

.secondary {
  color: black;
  background-color: white;
}

.disabled {
  background-color: gray !important;
  pointer-events: none;
  cursor: not-allowed;
}
